<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
		
		</startup>
	
<!--CONECTANDO A LA BASE DE DATOS-->
	 <connectionstrings>
		<add name="conectar" connectionstring="Data source=ROSMEIRY\SQLEXPRESS;initial catalog= Agenda_Capas, Integrated security=true"></add>
	</connectionstrings>

</configuration>